
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    max-width: 200px;
}

p {
    clear: both;
}

h1 {
    font-weight: bold;
}

p:first-of-type img {
    float: right;
    margin: 0 0 1em 1em;
}

p:last-of-type img {
    float: left;
    margin: 0 1em 1em 0;
}

.wrapper {

}

header .row {
    background-color: rgb(54, 54, 54); 
    color: white;

    border-bottom: 3px solid rgba(255, 0, 0, calc(1 - 0.05));
    padding-bottom: 5px;

    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(255, 0, 0, .75);
}


footer .row {
    border-top: 3px solid rgba(255, 0, 0, .95);
    background-color: rgb(54, 54, 54); 
    color: white;
    text-align: center;
}

aside {

}

table caption {
    font-weight: bold;
    margin-bottom: .5em;
}

table {
    border-collapse: collapse;
    margin: .5em;
}

td {
    padding: .25em;
    margin: 0px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 1px;
}

table:first-of-type {
    float: left;
}

table:last-of-type {
    float: left;
}

/* Flexbox Layout */

.row {
    display: flex;
    clear: both;
}

[class*="col-"] {
    margin-left: 1%;
    order: 1;
}

.col-1 {
    flex: 0 0 11.375%;
}

.col-2 {
    flex: 0 0 23.75%;
}

.col-3 {
    flex: 0 0 36.125%;
}

.col-4 {
    flex: 0 0 48.5%;
}

.col-5 {
    flex: 0 0 60.875%;
}

.col-6 {
    flex: 0 0 73.25%;
}

.col-7 {
    flex: 0 0 85.625%
}

.col-8 {
    flex: 0 0 98%;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}



