body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #140033;
}

.container {
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    font-weight: 600;
    font-size: 80px;
}

div div {
    background-color: darkblue;
}

div div span {
    color: white;
}